footer.cb-site-footer
    .cb-site-footer__info
        .cb-container
            p.cb-site-footer__copyright 2018 Confie Seguros Holding II Co
            nav.cb-site-footer__nav
                ul
                    li: a(href='#') Home
                    li: a(href='#') About us
                    li: a(href='#') Partnership
                    li: a(href='#') Leadership
                    li: a(href='#') Capital
                    li: a(href='#') Contact
                    li: a(href='#') Press
    .cb-site-footer__legal
        .cb-container
            p.cb-site-footer__legal-text Trade/service marks are the property of Confie Seguros Holding II Co or its respective affiliates and/or subsidiaries. Some partnership/acquisition structures may not be available  in all states. This is not a commitment to acquire; this is an advertisement. 