header.cb-site-header
    .cb-site-header__container.cb-container
        .cb-site-header__logo-title
            h1.cb-site-header__title.visually-hidden Confie Blog
            img.cb-site-header__logo(src='images/confie-blog-logo.svg', alt='Confie Blog Logo')