extends ../templates/main-template

block title
    -var project = {name: 'Site', section: 'Section'}
    title= project.name +' | ' + project.section

block description
    meta(name='description', content='Page description')
block content
    nav.cb-breadcrumb
        ul
            li: a(href='./') Home
            li: a(href='./') Confie Blog 
            li: span.cb-breadcrumb__current How to Handle Tough Conversations with Colleagues
    article.cb-entry
        header.cb-entry__header(style='background-image:url(images/hero-image-entry.jpg)')
            .cb-entry__header-box
                h2.cb-entry__title How to Handle Tough Conversations with Colleagues
        .cb-entry__info
            .cb-entry__entry-info
                .cb-entry__author By Anthony Zoccer
                .cb-entry__date On #[time(datetime='2018-08-18') August 18th, 2018]
            .cb-entry__share.share-links
                .share-links__text Share in
                ul.share-links__list
                    li.share-links__item
                        a.share-links__link(href='#')
                            .share-links__icon
                                svg(xmlns='http://www.w3.org/2000/svg' viewBox='-2 -2 101 101')
                                    path(d='M48.9 0C21.9 0 0 21.9 0 48.9s21.9 48.9 48.9 48.9 48.9-21.9 48.9-48.9S75.9 0 48.9 0zm12.5 32.9H57c-3.4 0-4.1 1.6-4.1 4v5.3h8.2v8.3h-8.2v21.3h-8.6V50.5h-7.2v-8.3h7.2v-6.1c0-7.1 4.3-11 10.7-11h6.4v7.8z')
                            span.visually-hidden Facebook
                    li.share-links__item
                        a.share-links__link(href='#')
                            .share-links__icon
                                svg(xmlns='http://www.w3.org/2000/svg' viewBox='-2 -2 101 101')
                                    path(d='M48.9 0C21.9 0 0 21.9 0 48.9s21.9 48.9 48.9 48.9 48.9-21.9 48.9-48.9S75.9 0 48.9 0zm20.6 38.6v1.2c0 14.8-11.3 30.1-30.1 30.1-5.8 0-11.4-1.6-16.2-4.8-.1-.1-.1-.2-.1-.3 0-.1.2-.2.3-.2.8.1 1.6.1 2.5.1 4.5 0 8.7-1.4 12.3-4-4.3-.4-8-3.3-9.3-7.4 0-.1 0-.2.1-.2.1-.1.2-.1.2-.1 1.2.2 2.4.2 3.6.1-4.4-1.4-7.5-5.5-7.5-10.3v-.1c0-.1.1-.2.1-.2h.3c1.2.6 2.4 1.1 3.7 1.2-2.5-2-4-5.1-4-8.4 0-1.9.5-3.8 1.5-5.4 0-.1.1-.1.2-.1s.2 0 .2.1c5.2 6.4 12.9 10.3 21.1 10.8-.4-.7-.4-1.4-.4-2.1 0-5.9 4.8-10.7 10.7-10.7 2.9 0 5.7 1.2 7.7 3.3 2.3-.5 4.4-1.3 6.4-2.5.1-.1.2 0 .3 0 .1.1.1.2.1.3-.7 2.1-2 4-3.8 5.3 1.7-.3 3.3-.8 4.8-1.5.1 0 .2 0 .3.1.1.1.1.2 0 .3-1.3 2.1-3 3.9-5 5.4z')
                            span.visually-hidden Twitter
                    li.share-links__item
                        a.share-links__link(href='#')
                            .share-links__icon
                                svg(xmlns='http://www.w3.org/2000/svg' viewBox='-2 -2 101 101')
                                    path(d='M48.9 0C21.9 0 0 21.9 0 48.9s21.9 48.9 48.9 48.9 48.9-21.9 48.9-48.9S75.9 0 48.9 0zM37.5 68.7h-9.7V37.4h9.7v31.3zm-4.8-35.6c-3.1 0-5.7-2.5-5.7-5.7 0-3.1 2.5-5.6 5.7-5.6 3.1 0 5.6 2.5 5.6 5.6 0 3.2-2.5 5.7-5.6 5.7zM74 68.7h-9.7V53.5c0-3.6-.1-8.3-5.1-8.3-5.1 0-5.8 4-5.8 8.1v15.5h-9.7V37.4H53v4.3h.1c1.3-2.5 4.5-5.1 9.2-5.1 9.9 0 11.7 6.5 11.7 14.9v17.2z')
                            span.visually-hidden LinkedIn
        .cb-entry__content
            h3 What is Lorem Ipsum?
            p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknWhat is Lorem Ipsum? Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus #[strong PageMaker] including versions of Lorem Ipsum.
            img(src='images/image-entry.jpg', alt='')
            h3 What is Lorem Ipsum?
            p It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now.
            h3 What is Lorem Ipsum?
            p It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text:
            ol
                li And a search for 'lorem ipsum' will uncover many web sites 
                li Still in their infancy. Various versions have evolved over the years, 
                li Sometimes by accident, sometimes on purpose (injected humour and the like).
            ul
                li And a search for 'lorem ipsum' will uncover many web sites 
                li Still in their infancy. Various versions have evolved over the years, 
                li Sometimes by accident, sometimes on purpose (injected humour and the like).
            h3 What is Lorem Ipsum?
            p Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undouby Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, #[i 'Lorem ipsum dolor sit amet...'], comes from a #[a(href='#') line in section 1.10.32].
            p The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from 'de Finibus Bonorum et Malorum' by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.
            .cb-entry__controls
                .cb-entry__back: a(href='./') Back to Confie Blog
    aside.cb-entry-other-content
        h2.cb-entry-other-content__title You might also like...
        ul
            li
                h3 What You Can Do to Improve Workplace Morale
                img(src='images/ima-1.jpg', alt='')
            li
                h3 4 Ways to Reduce Waste at Work
                img(src='images/ima-1.jpg', alt='')
            li
                h3 Current retail footprint includes 19 states, with nearly 800 retail locations
                img(src='images/ima-1.jpg', alt='')