// Stylus libraries
@import '../../node_modules/normalize-styl/normalize'
@import '../../node_modules/stylus-media-queries/index'

// Project dependencies
@import 'project-dependencies/variables'
@import 'project-dependencies/helpers'
@import 'project-dependencies/fonts'

// JS dependencies

// Patterns
@import 'patterns/general'
@import 'patterns/layout'
@import 'patterns/buttons'

// Sections
@import 'sections/header'
@import 'sections/footer'