.cb-site-header {
    background-color: #fff;
    padding: 20px 0;
    @include min-screen($tl) {
        padding: 14px 0 0;
    }

    &__container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: column;
        @include min-screen(820px) {
            flex-direction: row;
            justify-content: space-between;
        }
    }

    &__navigation {
        width: 100%;
        @include min-screen(820px) {
            width: auto;
        }
    }

    &__logo {
        width: 122px;
        height: auto;
        display: block;
        margin-bottom: 20px;
        @include min-screen($tp) {
            width: 142px;
        }
        @include min-screen($tl) {
            width: 172px;
            margin-bottom: 0;
        }
        @include min-screen($d) {
            width: 192px;
        }
    }
}